
{% load static %}
{% load i18n static %}

{% block carrito_button %}
{% if not user.is_superuser %}

<div class="">
  <button class="modal-shower cart-button " id="contenido-carrito">
    <span class="cart-icon">
        🛒 
    </span>
    <span id='cart' class="cart-count">0</span>
  </button>
</div>

{% endif %}
{% endblock %}

<meta name="csrf-token" content="{{ csrf_token }}">

    <div class="row">
        <div class="col-12">
            <div class="container mx-auto mt-4">
                <div class="row" id="productos-list">
                    
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-custom">
        <div class="modal-header">
          <h5 class="modal-title" id="detalleModalLabel">Detalles del Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="detalle-contenido">
            <!-- Aquí se cargará dinámicamente la información del producto -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>



<div class="modal fade" id="detalleCompraModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title" id="detalleCompraModalLabel">Detalles de compra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="detalle-compra-container">
          <!-- Aquí se cargará dinámicamente la información del producto -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal para mostrar el carrito -->
<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title" id="carritoModalLabel">Tu Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>-</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Precio Total</th>
            </tr>
          </thead>
          <tbody id="lista-productos-carrito">
            <!-- Los productos del carrito se mostrarán aquí -->
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <h5>Total de la Compra: $<span id="total-compra">0.00</span></h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="comprar-btn">Comprar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="compraExitosaModal" tabindex="-1" aria-labelledby="compraExitosaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title" id="compraExitosaLabel">Compra exitosa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¡La compra <span id="nro-compra-exitosa"></span> ha sido completada exitosamente! Muchas gracias por tu compra.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


{% block dashboard_cliente_scripts %}
{% if not user.is_superuser %}
  <link rel="stylesheet" href="{% static 'admin/css/cart.css' %}">
  <script src="{% static 'admin/js/cart.js' %}"></script>
  <script src="{% static 'admin/js/dashboard_cliente.js' %}"></script>
{% endif %}
{% endblock %}